<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.eims.dao.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.springboot.eims.entity.Area" >
    <id column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="area_name" property="areaName" jdbcType="VARCHAR" />
    <result column="priamry_number" property="priamryNumber" jdbcType="INTEGER" />
    <result column="secondary_number" property="secondaryNumber" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    area_id, area_name, priamry_number, secondary_number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from area_info
    where area_id = #{areaId,jdbcType=VARCHAR}
  </select>
  <select id="findAllArea" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from area_info
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from area_info
    where area_id = #{areaId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.springboot.eims.entity.Area" >
    insert into area_info (area_id, area_name, priamry_number, 
      secondary_number)
    values (#{areaId,jdbcType=VARCHAR}, #{areaName,jdbcType=VARCHAR}, #{priamryNumber,jdbcType=INTEGER}, 
      #{secondaryNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.springboot.eims.entity.Area" >
    insert into area_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="areaName != null" >
        area_name,
      </if>
      <if test="priamryNumber != null" >
        priamry_number,
      </if>
      <if test="secondaryNumber != null" >
        secondary_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="areaName != null" >
        #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="priamryNumber != null" >
        #{priamryNumber,jdbcType=INTEGER},
      </if>
      <if test="secondaryNumber != null" >
        #{secondaryNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.springboot.eims.entity.Area" >
    update area_info
    <set >
      <if test="areaName != null" >
        area_name = #{areaName,jdbcType=VARCHAR},
      </if>
      <if test="priamryNumber != null" >
        priamry_number = #{priamryNumber,jdbcType=INTEGER},
      </if>
      <if test="secondaryNumber != null" >
        secondary_number = #{secondaryNumber,jdbcType=INTEGER},
      </if>
    </set>
    where area_id = #{areaId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.springboot.eims.entity.Area" >
    update area_info
    set area_name = #{areaName,jdbcType=VARCHAR},
      priamry_number = #{priamryNumber,jdbcType=INTEGER},
      secondary_number = #{secondaryNumber,jdbcType=INTEGER}
    where area_id = #{areaId,jdbcType=VARCHAR}
  </update>
</mapper>