<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.springboot.eims.dao.StudentMapper">
	<resultMap id="BaseResultMap" type="com.springboot.eims.entity.Student">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="age" property="age" jdbcType="INTEGER" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="grade" property="grade" jdbcType="INTEGER" />
		<result column="year" property="year" jdbcType="INTEGER" />
		<result column="nation" property="nation" jdbcType="VARCHAR" />
		<result column="team" property="team" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id,name,age,sex,grade,year,nation,team
	</sql>
	<select id="findAllStudent" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from student_info
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from student_info
		where id = #{id,jdbcType=INTEGER}

	</select>
	<insert id="insert" parameterType="com.springboot.eims.entity.Student">
		insert into student_info (id, name, age,
		sex, grade, year, nation,
		team)
		values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
		#{age,jdbcType=INTEGER},
		#{sex,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}, #{year,jdbcType=INTEGER},
		#{nation,jdbcType=VARCHAR},
		#{team,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.springboot.eims.entity.Student">
		insert into student_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="age != null">
				age,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="grade != null">
				grade,
			</if>
			<if test="year != null">
				year,
			</if>
			<if test="nation != null">
				nation,
			</if>
			<if test="team != null">
				team,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="age != null">
				#{age,jdbcType=INTEGER},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
			<if test="grade != null">
				#{grade,jdbcType=INTEGER},
			</if>
			<if test="year != null">
				#{year,jdbcType=INTEGER},
			</if>
			<if test="nation != null">
				#{nation,jdbcType=VARCHAR},
			</if>
			<if test="team != null">
				#{team,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<delete id="deleteStudentById" parameterType="java.lang.Integer">
		delete from
		student_info
		where id = #{id,jdbcType=INTEGER}
	</delete>

	<update id="updateByPrimaryKey" parameterType="com.springboot.eims.entity.Student">
		update
		student_info
		set name = #{name,jdbcType=VARCHAR},
		age
		=#{age,jdbcType=INTEGER},
		sex = #{sex,jdbcType=VARCHAR},
		grade =
		#{grade,jdbcType=INTEGER},
		year =#{year,jdbcType=INTEGER},
		nation =
		#{nation,jdbcType=VARCHAR},
		team= #{team,jdbcType=INTEGER} 
		where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>